* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 250px;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}


section {
  padding: 20px;
}


.hero {
  display: flex;
  flex-direction: column;
}


.hero--text {
  margin-top: 0;
}

.hero--title {
  margin-bottom: 0;
}


.card {
  /* margin-left: 10px; */
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}


.card--stats {
  /* display: flex;
  /* margin-right: 1060px;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 0px; */ 
  display: flex;
  align-items: center;
}


.card--star {
  height: 14px;
}



.gray {
  color: #918E9B;
}


.card--text {
  margin-top: 0px;
  margin-left: 10px;
}

.card--firstline {
  /* margin-bottom: 0px; */
  overflow: hidden;
  text-overflow: ellipsis;
}


.card--secondline {
  margin-top: auto;
}



.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}



.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 3px 5px;
  border-radius: 2px;
  font-weight: bold;
}

.card--like {
  position: absolute;
  top: 6px;
  left: 140px;
  padding: 3px 5px;
  height: 30px;
  cursor:pointer;
}


h1 {
  font-size: 50px;
}



/*============================================================================== 
    iPhone 4 and 4S || 320 x 480 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
    and (max-width: 480px){
}

@media only screen and (min-width: 320px) 
    and (max-width: 480px) and (orientation: portrait) {
}

@media only screen and (min-width: 320px) 
    and (max-width: 480px) and (orientation: landscape) {
}

/*============================================================================== 
    iPhone 5, 5S, 5C and 5SE || 320 x 568 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
    and (max-width: 568px){
}

@media only screen and (min-width: 320px) 
    and (max-width: 568px) and (orientation: portrait) {
}

@media only screen and (min-width: 320px) 
    and (max-width: 568px) and (orientation: landscape) {
}

/*============================================================================== 
    iPhone 6, 6S, 7 and 8 || 375 x 667 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
    and (max-width: 667px){ 
}

@media only screen and (min-width: 375px) 
    and (max-width: 667px) and (orientation: portrait) { 
}

@media only screen and (min-width: 375px) 
    and (max-width: 667px) and (orientation: landscape) { 
}

/*============================================================================== 
    iPhone 6+, 7+ and 8+ || 414 x 736 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 414px) 
    and (max-width: 736px){ 
}

@media only screen and (min-width: 414px) 
    and (max-width: 736px) and (orientation: portrait) { 

}

@media only screen and (min-width: 414px) 
    and (max-width: 736px) and (orientation: landscape) { 
}

/*============================================================================== 
    iPhone X || 375 x 812 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
    and (max-width: 812px){ 
}

@media only screen and (min-width: 375px) 
    and (max-width: 812px) and (orientation: portrait) { 
}

@media only screen and (min-width: 375px) 
  and (max-width: 812px) and (orientation: landscape) { 
}

/*============================================================================== 
    Galaxy S3 || 320 x 640 || Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 320px) 
    and (height: 640px){
}

@media screen and (width: 320px) 
    and (height: 640px) and (orientation: portrait) {
}

@media screen and (width: 320px) 
    and (height: 640px) and (orientation: landscape) {
}

/*============================================================================== 
    Windows Phone 480 x 800 Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 480px) 
    and (height: 800px) {
}

@media screen and (width: 480px) 
    and (height: 800px) and (orientation: portrait) {
}

@media screen and (width: 480px) 
    and (height: 800px) and (orientation: landscape) {

}

/*============================================================================== 
    iPad 1, 2, Mini and Air || 768 x 1024 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 768px) 
    and (max-width: 1024px) {
}

@media only screen and (min-width: 768px) 
    and (max-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-width: 768px) 
  and (max-width: 1024px) and (orientation: landscape) {
}


/*============================================================================== 
    iPad Pro 10.5 || 834 x 1112 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 834px) 
    and (max-width: 1112px){
}

@media only screen and (min-width: 834px) 
    and (max-width: 834px) and (orientation: portrait) {
}

@media only screen and (min-width: 1112px) 
  and (max-width: 1112px) and (orientation: landscape) {
}


/*============================================================================== 
    iPad Pro 12.9 || 1024 x 1366 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 1024px) 
    and (max-width: 1366px){
}

@media only screen and (min-width: 1024px) 
    and (max-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-width: 1366px) 
  and (max-width: 1366px) and (orientation: landscape) {
}


/*============================================================================== 
    Galaxy Tab 2 || 800 x 1280 || Default, Portrait and Landscape
================================================================================ */
@media (min-width: 800px) and (max-width: 1280px) {
}

@media (max-width: 800px) and (orientation: portrait) { 
}

@media (max-width: 1280px) and (orientation: landscape) { 
}

/*============================================================================== 
    Nexus 7 || 601 x 906 || Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 601px) 
    and (height: 906px){
}

@media screen and (width: 601px) 
  and (height: 906px) and (orientation: portrait) {
}

@media screen and (width: 601px) 
    and (height: 906px) and (orientation: landscape) {
}

/*============================================================================== 
    Nexus 9 || 1536 x 2048 || Default, Portrait and Landscape
================================================================================ */
@media screen and (width: 1536px) and (height: 2048px) {
}

@media screen and (width: 1536px) 
    and (height: 2048px) and (orientation: portrait) {
}

@media screen and (width: 1536px) 
    and (height: 2048px) and (orientation: landscape) {
}

/*============================================================================== 
    Kindle Fire HD 8.9 || 1200 x 1600 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 1200px) 
    and (max-width: 1600px){
}

@media only screen and (min-width: 1200px) 
    and (max-width: 1600px) and (orientation: portrait) {
}

@media only screen and (min-width: 1200px) 
    and (max-width: 1600px) and (orientation: landscape) {
}







